<div class="container-fluid">
	<div id="content-not-found">
		<div class="row h-100">
			 <div class="col-12 h-100" [ngStyle]="{'background-image': 'url(./assets/img/bg-default.png)'  }">
			 	<div class="container-not-found text-center">
			 		<h1 class="title-not-found text-dark font-weight-bold"><span>4</span><i class="fa fa-frown-o"></i><span>4</span></h1>
			 		<h3 class="text-dark font-weight-bold">¡UPS! PÁGINA NO ENCONTRADA</h3>
			 		<div class="text-dark">Lo sentimos pero la página a la que intentas acceder no existe, ha sido eliminada, ha cambiado el nombre o está temporalmente inactiva.</div>
					<button type="button" class="btn btn-secondary mt-3" (click)="goToHome()">Ir a inicio</button>
			 	</div>
			 </div>
		</div>
	</div>
</div>