<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 h-100" [ngStyle]="{'background-image': 'url(./assets/img/bg-default.png)'  }">
      <div class="container-login align-xy-abs text-center">
        <div class="row">
          <div class="col-12">
            <h1>Iniciar sesión</h1>
          </div>
          <div class="col-12 my-3">
            <hr>
          </div>
          <div class="col-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" placeholder="Correo electrónico*" formControlName="email"
                      (keyup)="cleanEmail($event)">
                    <app-control-message-input [control]="form.controls.email"
                      [configMessages]="controlField?.messages?.email"></app-control-message-input>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" placeholder="Contraseña*" formControlName="password" name="password"
                      type="password">
                    <app-control-message-input [control]="form.controls.password"
                      [configMessages]="controlField?.messages?.password"></app-control-message-input>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <app-simple-loader *ngIf="loader"></app-simple-loader>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Iniciar sesión</button>
                </div>
                <div class="col-12">
                  <button [routerLink]="['/register']" type="button" class="btn btn-link">¿No tienes cuenta? Regístrate</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
